<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/admin_panel_login_style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap"
          rel="stylesheet">
</head>

<body>
<div id="login-container">
    <h1 id="title">Login</h1>
    <form method="post">
        #foreach($field in $fields)
            <div>
                <label>$field.name</label>
                <input type="$field.type"#if($field.autoComplete) autocomplete="$field.autoComplete"#end
                       class="field-input" required
                       name="$field.key">
            </div>
        #end
        <input type="hidden" name="_csrf" value="$csrfToken">
        <button type="submit" id="submit-button">Submit</button>
    </form>
</div>
</body>

</html>