<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <title>Login</title>
    <link href="/static/css/upsert_admin_style.css" rel="stylesheet">
</head>
<body>
<h2>Login</h2>
<form method="post" >
    #foreach($field in $fields)
        <label>$field.name</label>
        <input type="text" class="form-input" name="$field.key"/>
    #end
    <button type="submit" class="form-input">Login</button>
</form>
</body>
</html>