<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <title>Nested Upsert Form</title>
    <link href="/static/css/no_sql_upsert_admin.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<h2>$singularName</h2>
<form method="post" enctype="multipart/form-data">
    #macro(renderRecursiveField $field $values $depth $parentPath $labelDisplayed)
        #set($fieldName = $field.fieldName)
        #set($fieldType = $field.type)
        #if($!parentPath)
            #set($currentPath = $parentPath + "." + $field.fieldName)
        #else
            #set($currentPath = $field.fieldName)
        #end

        #if($fieldType.name == "List")
            <fieldset class="nested-container" data-field-name="$fieldName">
                <legend>$fieldName (List)</legend>
                <div id="${fieldName}-container" data-list-container="true">
                    #if($fieldType.fields.size() == 1 && !$fieldType.fields[0].fieldName)
                        #foreach($item in $values.get($fieldName))
                            <div class="dynamic-item">
                                <div class="input-with-buttons">
                                    <input type="#evaluate("${fieldType.fields[0].type.fieldType}")"
                                           name="#evaluate("${currentPath}[]")"
                                           value="$item"
                                           class="form-input"/>
                                    <div class="list-buttons">
                                        <button type="button" onclick="removeItem(this)">
                                            <i class="material-icons">remove</i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        #end
                        <div class="list-buttons">
                            <button type="button"
                                    data-field-name="$fieldName"
                                    data-field-type="$fieldType.fields[0].type.fieldType"
                                    onclick="addSimpleListItem(this)">
                                <i class="material-icons">add</i>
                            </button>
                        </div>
                    #else
                        #foreach($item in $values.get($fieldName))
                            <div class="dynamic-item">
                                #set($targetDepth = $depth + 1)
                                #foreach($subField in $fieldType.fields)
                                    #renderRecursiveField($subField $item $targetDepth "$currentPath" $foreach.first)
                                #end
                                <div class="list-buttons">
                                    <button type="button" onclick="removeItem(this)">
                                        <i class="material-icons">remove</i>
                                    </button>
                                </div>
                            </div>
                        #end
                        <div class="list-buttons">
                            <button type="button"
                                    data-field-name="$fieldName"
                                    data-current-path="$currentPath"
                                    data-fields='[#foreach($subField in $fieldType.fields){"name":"$subField.fieldName","type":"$subField.type.fieldType", "fields" : [#foreach($sub2Field in $!subField.type.fields) {"fieldName" : "$sub2Field.fieldName", "type" : "$sub2Field.type.name"}#if($foreach.hasNext), #end#end]}#if($foreach.hasNext),#end#end]'
                                    onclick="addComplexListItem(this)">
                                <i class="material-icons">add</i>
                            </button>
                        </div>
                    #end
                </div>
            </fieldset>
        #elseif($fieldType.name == "Map")
            <fieldset class="nested-container" data-field-name="$fieldName">
                <legend>$fieldName (Map)</legend>
                <div id="#evaluate("${fieldName}-container")" data-map-container="true">
                    #if($fieldType.fields.size() == 1 && !$fieldType.fields[0].fieldName)
                        <div class="dynamic-item">
                            <div class="input-with-buttons">
                                <input type="text" name="#evaluate("${currentPath}-key[]")" placeholder="Key"
                                       class="form-input"/>
                                <input type="#evaluate("${fieldType.fields[0].type.fieldType}")"
                                       name="#evaluate("${currentPath}-value[]")"
                                       placeholder="Value"
                                       class="form-input"/>
                                <div class="list-buttons">
                                    <button type="button" onclick="removeItem(this)">
                                        <i class="material-icons">remove</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="list-buttons">
                            <button type="button"
                                    data-field-name="$fieldName"
                                    data-field-type="$fieldType.fields[0].type.fieldType"
                                    onclick="addSimpleMapItem(this)">
                                <i class="material-icons">add</i>
                            </button>
                        </div>
                    #else
                        #foreach($subField in $fieldType.fields)
                            #set($targetDepth = $depth + 1)
                            #renderRecursiveField($subField $item $targetDepth "$currentPath" $foreach.first)
                        #end
                    #end
                </div>
            </fieldset>
        #else
            <div class="dynamic-item">
                <label>$fieldName</label>
                <input type="$fieldType.fieldType"
                       name="#evaluate("$currentPath")"
                       value="$!values.get(${fieldName})"
                       class="form-input"
                       #if($field.readOnly)readonly#end/>
                #if($field.type.name == "File")
                    #if($values.get($field.fieldName))
                        <p>Current file: <a href="$!values.get($field.fieldName)">$!values.get($field.fieldName)</a></p>
                    #end
                #end
            </div>
        #end
    #end

    #foreach($field in $fields)
        #renderRecursiveField($field $values 0 "" true)
    #end

    <input type="hidden" value="$csrfToken" name="_csrf">
    <button type="submit" class="form-input">Submit</button>
</form>

<script src="/static/js/no_sql_upsert_admin.js"></script>
</body>
</html>