<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grouped Tables</title>
    <link href="/static/css/amin_panel_styles.css" rel="stylesheet">
</head>
<body>

<div class="header-container">
    <h2>${pluralName}</h2>
    <button class="add-button" onclick="redirectToAdd()">Add</button>
</div>

<!-- Search Bar -->
    #if($hasSearchColumn)
    <div id="search-header">
        <label for="search-input"></label><input type="text" id="search-input" placeholder="Search..."/>
        <button type="button" id="search-button">Search</button>
    </div>
    #end

<!-- Filters -->
    #if($!filtersData.size != 0)
    <div id="filters-container">
        #foreach($filter in $filtersData)
            #if($filter.type == "DATE")
                <div class="filter">
                    <label for="${filter.paramName}">Select Date Range for ${filter.paramName}</label>
                    <input type="date" id="${filter.paramName}-start" name="${filter.paramName}"
                           placeholder="Start Date">
                    <input type="date" id="${filter.paramName}-end" name="${filter.paramName}" placeholder="End Date">
                </div>
            #elseif($filter.type == "DATETIME")
                <div class="filter">
                    <label for="${filter.paramName}">Select Date and Time Range for ${filter.paramName}</label>
                    <input type="datetime-local" id="${filter.paramName}-start" name="${filter.paramName}"
                           placeholder="Start Date and Time">
                    <input type="datetime-local" id="${filter.paramName}-end" name="${filter.paramName}"
                           placeholder="End Date and Time">
                </div>
            #elseif($filter.type == "ENUMERATION")
                <div class="filter">
                    <label for="${filter.paramName}">Select ${filter.paramName}</label>
                    <select id="${filter.paramName}" name="${filter.paramName}">
                        <option value="">-- Select --</option>
                        #foreach($value in $filter.values)
                            <option value="${value}">${value}</option>
                        #end
                    </select>
                </div>
            #elseif($filter.type == "REFERENCE")
                <div class="filter">
                    <label for="${filter.paramName}">Select ${filter.paramName}</label>
                    <select id="${filter.paramName}" name="${filter.paramName}">
                        <option value="">-- Select --</option>
                        #foreach($item in $filter.values)
                            <option value="${item.itemKey}">${item.item}</option>
                        #end
                    </select>
                </div>
            #elseif($filter.type == "BOOLEAN")
                <label for="${filter.paramName}">Select Boolean for ${filter.paramName}</label>
                <div class="filter">
                    <select id="${filter.paramName}" name="${filter.paramName}">
                        <option value="">Select a value</option>
                        <option value="1">True</option>
                        <option value="0">False</option>
                    </select>
                </div>
            #end
        #end
    </div>
    #end

<!-- Filter Button -->
<button type="button" id="filter-button" onclick="onFilterApply()">Apply Filters</button>

<!-- Table -->
<table>
    <thead>
    <tr>
        #foreach($columnName in $columnNames)
            <th>$columnName</th>
        #end
    </tr>
    </thead>
    <tbody>
        #foreach($data in $rows)
        <tr onclick="redirectToEdit('$data.primaryKey')">
            #foreach($item in $data.data)
                <td>$!item</td>
            #end
        </tr>
        #end
    </tbody>
</table>

<!-- Pagination -->
<div class="pagination">
    #set($prevPage = $currentPage - 1)
    #set($nextPage = $currentPage + 1)
    #if($prevPage > 1)
        <span class="first" onclick="redirectToPage(1)">1</span>
        <span class="dots">...</span>
    #end

    #if($prevPage > 0)
        <span class="prev" onclick="redirectToPage($prevPage)">$prevPage</span>
    #end

    <span class="page-number current">$currentPage</span>

    #if($nextPage <= $maxPages)
        <span class="next" onclick="redirectToPage($nextPage)">$nextPage</span>
    #end

    #if($nextPage < $maxPages)
        <span class="dots">...</span>
        <span class="last" onclick="redirectToPage($maxPages)">$maxPages</span>
    #end
</div>
<script src="/static/js/table_list.js"></script>
</body>
</html>
