<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <title>Upsert Form</title>
    <link href="/static/css/upsert_admin_style.css" rel="stylesheet">

</head>
<body>
<h2>$singularTableName</h2>
<form method="post" enctype="multipart/form-data">
    #foreach($field in $fields)
        #if($values.get($field.fieldName))
            #set($defaultValue = $values.get($field.fieldName))
        #else
            #if ($field.defaultValue)
                #set($defaultValue = $field.defaultValue)
            #end
        #end

        <label>$field.fieldName</label>

        #if($field.reference)
            #set($referenceValues = $references.get($field))
            <select name="$field.fieldName" class="form-input" #if($field.readOnly)disabled#end>
                #foreach($refValue in $referenceValues)
                    <option value="$refValue.itemKey"
                            #if($refValue == $!defaultValue)selected#end>$refValue.item</option>
                #end
            </select>
        #else
            <!-- FILE -->
            #if($field.type.name == "File")
                <input type="file" class="form-input" name="$field.fieldName" #if($field.readOnly)disabled#end/>
                #if($values.get($field.fieldName))
                    <p>Current file: <a href="$!values.get($field.fieldName)">$!values.get($field.fieldName)</a></p>
                #end
            #elseif($field.type.name == "Enumeration")
                <select name="$field.fieldName" class="form-input" #if($field.readOnly)disabled#end>
                    #foreach($value in $field.enumerationValues)
                        <option value="$value" #if($value == $!defaultValue)selected#end>$value</option>
                    #end
                </select>
            #elseif($field.type.name == "Boolean")
                #if($field.nullable == false)
                    <input type="hidden" name="${field.fieldName}" value="off">
                #end
                <input type="checkbox" class="form-input" name="${field.fieldName}"
                    #if($!defaultValue == "true") checked #end
                    #if($field.readOnly) disabled #end/>
            #else
                <input type="$field.type.fieldType" class="form-input" name="$field.fieldName" value="$!defaultValue"
                       #if($field.readOnly)readonly#end/>
            #end

        #end
    #end
    <button type="submit" class="form-input">Submit</button>
</form>
    ##<script>
    ##    const computedfields = [];
    ##    const limitfields = [];
    ##        #foreach($field in $fields)
    ##            #if($field.limits)
    ##                #set($allowedMimeTypes = $field.limits.allowedMimeTypes)
    ##            limitfields.push({
    ##                fieldName: "$field.fieldName",
    ##                limits: {
    ##                    maxLength: $field.limits.maxLength,
    ##                    minLength: $field.limits.minLength,
    ##                regexPattern:#if($field.limits.regexPattern) "$field.limits.regexPattern" #else
    ##                        null #end,
    ##                    maxCount: $field.limits.maxCount,
    ##                    minCount: $field.limits.minCount,
    ##                    maxBytes: $field.limits.maxBytes,
    ##                    minDateRelativeToNow: $field.limits.minDateRelativeToNow,
    ##                    maxDateRelativeToNow: $field.limits.maxDateRelativeToNow,
    ##                allowedMimeTypes: #if($allowedMimeTypes) [#foreach($type in $allowedMimeTypes) "$type"#if($foreach.hasNext),#end#end] #else
    ##                        null #end
    ##                }
    ##            });
    ##            #end
    ##            #if($field.computedfield)
    ##            computedfields.push({
    ##                fieldName: "$field.fieldName",
    ##                computedfield: "$field.computedfield"
    ##            });
    ##            #end
    ##        #end
    ##</script>
<script src="/static/js/upsert_admin.js"></script>
</body>
</html>