<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <title>Upsert Form</title>
    <link href="/static/css/upsert_admin_style.css" rel="stylesheet">
</head>
<body>
<h2>$singularTableName</h2>
<form method="post" enctype="multipart/form-data">
    #foreach($column in $columns)
        #if($values.get($column.columnName))
            #set($defaultValue = $values.get($column.columnName))
        #else
            #if ($column.defaultValue)
                #set($defaultValue = $column.defaultValue)
            #end
        #end

        <label>$column.columnName</label>

        #if($column.reference)
            #set($referenceValues = $references.get($column))
            <select name="$column.columnName" class="form-input" #if($column.readOnly)disabled#end>
                #foreach($refValue in $referenceValues)
                    <option value="$refValue.referenceKey"
                            #if($refValue == $!defaultValue)selected#end>$refValue.item</option>
                #end
            </select>
        #else

            <!-- STRING -->
            #if($column.type.name == "STRING")
                <input type="text" class="form-input" name="$column.columnName" value="$!defaultValue"
                       #if($column.readOnly)readonly#end/>
            #end

            <!-- INTEGER / UINTEGER -->
            #if($column.type.name == "INTEGER" || $column.type.name == "UINTEGER")
                <input type="number" class="form-input" name="$column.columnName" value="$!defaultValue"
                       #if($column.readOnly)readonly#end/>
            #end

            <!-- SHORT / USHORT -->
            #if($column.type.name == "SHORT" || $column.type.name == "USHORT")
                <input type="number" class="form-input" name="$column.columnName" value="$!defaultValue"
                       #if($column.readOnly)readonly#end/>
            #end

            <!-- LONG / ULONG -->
            #if($column.type.name == "LONG" || $column.type.name == "ULONG")
                <input type="number" class="form-input" name="$column.columnName" value="$!defaultValue"
                       #if($column.readOnly)readonly#end/>
            #end

            <!-- DOUBLE -->
            #if($column.type.name == "DOUBLE")
                <input type="number" step="any" class="form-input" name="$column.columnName" value="$!defaultValue"
                       #if($column.readOnly)readonly#end/>
            #end

            <!-- FLOAT -->
            #if($column.type.name == "FLOAT")
                <input type="number" step="any" class="form-input" name="$column.columnName" value="$!defaultValue"
                       #if($column.readOnly)readonly#end/>
            #end

            <!-- BIG_DECIMAL -->
            #if($column.type.name == "BIG_DECIMAL")
                <input type="text" class="form-input" name="$column.columnName" value="$!defaultValue"
                       #if($column.readOnly)readonly#end/>
            #end

            <!-- CHAR -->
            #if($column.type.name == "CHAR")
                <input type="text" maxlength="1" class="form-input" name="$column.columnName" value="$!defaultValue"
                       #if($column.readOnly)readonly#end/>
            #end

            <!-- BINARY -->
            #if($column.type.name == "BINARY")
                <input type="file" class="form-input" name="$column.columnName" #if($column.readOnly)disabled#end/>
            #end

            <!-- BOOLEAN -->
            #if($column.type.name == "BOOLEAN")
                <input type="checkbox" class="form-input" name="$column.columnName"
                       #if($!defaultValue == "true")checked#end #if($column.readOnly)disabled#end/>
            #end

            <!-- ENUMERATION -->
            #if($column.type.name == "ENUMERATION")
                <select name="$column.columnName" class="form-input" #if($column.readOnly)disabled#end>
                    #foreach($value in $column.enumerationValues)
                        <option value="$value" #if($value == $!defaultValue)selected#end>$value</option>
                    #end
                </select>
            #end

            <!-- DATE -->
            #if($column.type.name == "DATE")
                <input type="date" class="form-input" name="$column.columnName" value="$!defaultValue"
                       #if($column.readOnly)readonly#end/>
            #end

            <!-- DATETIME -->
            #if($column.type.name == "DATETIME")
                <input type="datetime-local" class="form-input" name="$column.columnName" value="$!defaultValue"
                       #if($column.readOnly)readonly#end/>
            #end

            <!-- FILE -->
            #if($column.type.name == "FILE")
                <input type="file" class="form-input" name="$column.columnName" #if($column.readOnly)disabled#end/>
                #if($values.get($column.columnName))
                    <p>Current file: <a href="$!values.get($column.columnName)">$!values.get($column.columnName)</a></p>
                #end
            #end

        #end
    #end
    <button type="submit" class="form-input">Submit</button>
</form>
<script>
    const computedColumns = [];
    const limitColumns = [];
        #foreach($column in $columns)
            #if($column.limits)
                #set($allowedMimeTypes = $column.limits.allowedMimeTypes)
            limitColumns.push({
                columnName: "$column.columnName",
                limits: {
                    maxLength: $column.limits.maxLength,
                    minLength: $column.limits.minLength,
                regexPattern:#if($column.limits.regexPattern) "$column.limits.regexPattern" #else
                        null #end,
                    maxCount: $column.limits.maxCount,
                    minCount: $column.limits.minCount,
                    maxBytes: $column.limits.maxBytes,
                    minDateRelativeToNow: $column.limits.minDateRelativeToNow,
                    maxDateRelativeToNow: $column.limits.maxDateRelativeToNow,
                allowedMimeTypes: #if($allowedMimeTypes) [#foreach($type in $allowedMimeTypes) "$type"#if($foreach.hasNext),#end#end] #else
                        null #end
                }
            });
            #end
            #if($column.computedColumn)
            computedColumns.push({
                columnName: "$column.columnName",
                computedColumn: "$column.computedColumn"
            });
            #end
        #end
</script>
<script src="/static/js/upsert_admin.js"></script>
</body>
</html>