body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

* {
    font-weight: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#login-container {
    padding: 24px;
    background-color: var(--white-transparent-60);
    border-radius: 20px;
    width: 85vw;
    max-width: 500px;
}

.field-input {
    width: 100%;
    margin-top: 4px;
    background-color: var(--background-gradient-start);
    height: 48px;
    border-radius: 16px;
    outline: none;
    transition: .2s linear;
    border: none;
    padding: 0px 12px;
}

#submit-button {
    color: var(--white);
    background-color: var(--secondary-color);
    border-radius: 16px;
    padding: 12px 40px;
    height: 44px;
    margin-top: 20px;
    width: 100%;
    outline: none;
    border: none;
    transition: .1s linear;
    cursor: pointer;
}

.name {
    font-size: 36px;
}

#submit-button:hover {
    background-color: var(--secondary-color);
    opacity: 0.9;
}

.field-input:focus {
    outline: 2px solid var(--secondary-color);
}

.field-input::placeholder {
    color: var(--transparent-black-50);
}

label {
    opacity: .8;
    margin-left: 12px;
}

#title {
    font-size: 24px;
    font-weight: bold;
    /*margin-bottom: 12px;*/
}

#page_message {
    margin-bottom: 12px;
    opacity: .8;
}

form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}


* {
    color: var(--primary-color);
}

.error_message {
    color: red;
    font-size: 14px;
}