body {
    height: 100vh;
    background: linear-gradient(to top left, var(--background-gradient-start) 60%, var(--background-gradient-end) 100%);
    overflow-y: hidden;
    font-family: 'Istok Web', sans-serif;
    margin: 16px;
}

* {
    font-weight: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--primary-color);
}

h1,
p,
h2 {
    color: var(--primary-color);
}

.istok-web-regular {
    font-family: "Istok Web", serif;
    font-weight: 400;
    font-style: normal;
}

.istok-web-bold {
    font-family: "Istok Web", serif;
    font-weight: 700;
    font-style: normal;
}

.istok-web-black {
    font-family: "Istok Web", serif;
    font-weight: 900;
    font-style: normal;
}

.istok-web-regular-italic {
    font-family: "Istok Web", serif;
    font-weight: 400;
    font-style: italic;
}

.istok-web-bold-italic {
    font-family: "Istok Web", serif;
    font-weight: 700;
    font-style: italic;
}

#header {
    background-color: var(--white-transparent-60);
    width: auto;
    border-radius: 24px;
    align-items: center;
    display: flex;
    justify-content: flex-start;
    height: 54px;
}

#header .left-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 16px;
    gap: 12px;
}

@media (max-width: 850px) {
    #menu-expand-icon {
        display: none;
    }
}

.title {
    font-size: 20px;
}

#container {
    width: 100%;
    height: calc(100vh - 32px);
    display: flex;
    flex-direction: column;
    transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

#union-box {
    margin-top: 12px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
    align-items: end;
}

#top-box-row {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: row;
}

#name {
    font-size: 24px;
    flex-grow: 1;
    margin-left: 24px;
}

#top-box {
    width: 80px;
    height: 55px;
    background-color: var(--white-transparent-60);
    border-radius: 20px 20px 0px 0px;
    cursor: pointer;
    transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

#top-box-row-up {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 55px;
    width: 100%;
}

#bottom-box {
    width: 100%;
    flex-grow: 1;
    min-height: 0;
    background-color: var(--white-transparent-60);
    border-radius: 20px;
    position: relative;
    overflow-y: auto;
    padding: 24px;
}

#bottom-box::-webkit-scrollbar {
    display: none;
}

#bottom-box {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.file-input-field {
    display: none;
}

.file-input {
    margin-top: 4px;
    display: block;
    padding: 8px 16px;
    background-color: var(--secondary-color);
    color: var(--white);
    border-radius: 12px;
    transition: .3s ease-in;
    max-width: 200px;
    margin-left: 0;
    cursor: pointer;
}

.readonly-field {
    opacity: .5;
    cursor: default;
}

.field-input:hover {
    background-color: var(--highlight-color);
}

#form-box {
    flex-direction: column;
    display: flex;
    gap: 12px;
}

label {
    font-size: 16px;
    margin-left: 12px;
}

.form-input {
    width: 100%;
    margin-top: 4px;
    background-color: var(--background-gradient-start);
    height: 48px;
    border-radius: 16px;
    outline: none;
    transition: .2s linear;
    font-family: "Istok Web", serif;
    font-weight: 400;
    font-style: normal;
    border: none;
    padding: 0 12px;
}

.rich-editor-area {
    margin-top: 4px;
}

.select-input {
    width: 100%;
    height: 48px;
    outline: none;
    transition: .2s linear;
    font-family: "Istok Web", serif;
    font-weight: 400;
    font-style: normal;
    border: none;
    padding: 0 12px;
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
    appearance: none !important;
    padding-right: 2rem !important;
    background: url("data:image/svg+xml,%3Csvg%20width%3D%2214%22%20height%3D%2214%22%20viewBox%3D%220%200%2014%2014%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M11.6199%205.22084L7.81655%209.02417C7.36738%209.47334%206.63238%209.47334%206.18322%209.02417L2.37988%205.22084%22%20stroke%3D%22%23292D32%22%20stroke-width%3D%221.5%22%20stroke-miterlimit%3D%2210%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E") no-repeat;
    background-position: calc(100% - 0.75rem) center !important;
}

.error_message {
    color: var(--error-color);
    font-size: 12px;
    margin-left: 12px;
    margin-top: 2px;
}

.select-input-background {
    margin-top: 4px;
    background-color: var(--background-gradient-start);
    border-radius: 16px;
}

.form-input::placeholder {
    color: hsla(0, 0%, 0%, 0.4);
}

#submit-button {
    color: var(--white);
    background-color: var(--secondary-color);
    border-radius: 16px;
    padding: 12px 40px;
    height: 44px;
    margin-top: 12px;
    outline: none;
    border: none;
    transition: .1s linear;
    cursor: pointer;
}

#submit-button:hover {
    opacity: 0.9;
}

.field-input:focus {
    outline: 2px solid var(--secondary-color);
    opacity: 0.9;
}

.custom-checkbox input {
    display: none;
}

.custom-checkbox .checkmark {
    display: flex;
    position: relative;
    width: 24px;
    height: 24px;
    border-radius: 8px;
    border: 2px solid var(--highlight-color);
    background-color: var(--background-color-f4);
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.custom-checkbox input:checked + .checkmark {
    background-color: var(--highlight-color);
    border-color: var(--highlight-color);
}

.custom-checkbox .checkbox-input:checked + .checkmark .checkmark-icon {
    display: block;
}

.custom-checkbox .checkmark-icon {
    display: none;
}

.custom-checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    margin: 4px 0;
}


.menu:hover ~ .sidebar {
    left: 0;
}

.menu {
    width: 24px;
    display: flex;
    visibility: visible;
    align-items: center;
    opacity: 1;
    justify-content: center;
    transition: .3s cubic-bezier(0.4, 0, 0.2, 1);
}

input:disabled, select:disabled, input:read-only {
    opacity: .6;
    cursor: default;
}

.menu.shrink {
    opacity: 0;
    visibility: hidden;
    width: 0;
}

.group-text {
    font-size: 16px;
    color: var(--primary-color);
    opacity: .8;
    margin-left: 16px;
    margin-top: 16px;
}

#search-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    border-radius: 16px;
    height: 40px;
    padding-left: 8px;
    gap: 8px;
    min-width: 20vw;
    padding-right: 8px;
    margin-right: auto;
    margin-left: auto;
}

#search-container:has(input) {
    background-color: var(--background-gradient-start);
}

#search-container path {
    stroke: var(--primary-color);
}

#search-input {
    background-color: transparent;
    border: none;
    flex-grow: 1;
    outline: none;
}

#search-input::placeholder {
    color: var(--primary-color);
}

#search-input:focus {
    outline: none;
}

#username-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    gap: 12px;
}

#username-container {
    display: inline-block;
    position: relative;
    margin-right: 16px;
}

.username {
    font-size: 16px;
    color: var(--primary-color);
}

.dropdown-icon {
    border-radius: 8px;
    width: 22px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-gradient-start);
    transition: .1s;
}

#username-container:hover .dropdown-icon {
    background-color: var(--highlight-color);
}

.dropdown-content {
    display: block;
    position: absolute;
    opacity: 0;
    transform: translateY(-10px);
    width: 100%;
    background-color: var(--white-transparent-60);
    transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    backdrop-filter: blur(8px);
    z-index: 10;
    border: 1px solid var(--border-color);
    border-radius: 12px;
    visibility: hidden;
}

#username-container:hover .dropdown-content {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.dropdown-content button {
    color: var(--primary-color);
    height: 36px;
    margin-left: 8px;
    text-align: center;
    text-decoration: none;
    display: flex;
    width: calc(100% - 16px);
    align-items: center;
    margin-bottom: 8px;
    margin-top: 8px;
    border-bottom: 1px solid var(--transparent-black-10);
    border-left: none;
    cursor: pointer;
    border-right: none;
    border-top: none;
    background-color: transparent;
    outline: none;
}

.dropdown-content button:focus {
    border-bottom: 1px solid var(--transparent-black-10);
    outline: none;
}

.dropdown-content button:last-child {
    border-bottom: none;
}

#submit-button:disabled {
    background-color: #dfdfdf;
    color: rgba(0, 0, 0, 0.4);
    cursor: default;
}

#logout {
    color: var(--error-color);
}

#menu-title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    margin-left: 16px;
}

.menu-title {
    font-size: 20px;
}

#menu-expand-icon {
    cursor: pointer;
}

#menu-expand-icon {
    cursor: pointer;
    transform: rotateY(0deg);
    transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

#menu-expand-icon.expanded {
    transform: rotateY(180deg);
}

.no-animation {
    transition: none !important;
}

.file-link path {
    stroke: var(--secondary-color);
}

.custom-checkbox .checkmark-icon path {
    stroke: var(--white);
}

.file-link {
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    border: none;
    margin-left: 16px;
    margin-top: 6px;
    color: var(--secondary-color);
}

.file-link:focus {
    border: none;
    outline: none;
}

.delete-file-icon {
    cursor: pointer;
    transform: translateX(100%);
    flex-shrink: 0;
}

.selected-file-label {
    margin-left: 12px;
    word-wrap: break-word;
    margin-top: 4px;
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 4px;
}

.selected-file-label:empty {
    display: none;
}

#loading {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--transparent-black-50);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid var(--white);
    border-top: 5px solid var(--secondary-color);
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

path {
    stroke: var(--primary-color);
}