body {
    background-color: #121212;
    color: #e0e0e0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* استایل برای دکمه "Add" */
button.add-button {
    background-color: #6200ea;
    color: white;
    padding: 8px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
    margin-right: 16px;
}

button.add-button:hover {
    background-color: #8900EAFF;
}

.header-container {
    width: 90%;
    max-width: 650px;
    min-width: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f1f1f;
    padding-block: 12px;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    margin-bottom: 8px;
}

h2 {
    color: #e0e0e0;
    font-size: 20px;
    margin-left: 16px;
}


table {
    width: 90%;
    max-width: 650px;
    min-width: 350px;
    margin: 20px 0;
    border-collapse: separate;
    border-spacing: 10px;
    background-color: #1f1f1f;
    border-radius: 20px;
}

th {
    background-color: #6200ea;
    font-size: 18px;
    padding: 12px;
    text-align: left;
    border-radius: 8px;
}

td {
    padding: 12px;
    text-align: left;
    border-radius: 8px;
    background-color: #2c2c2c;
}

tbody tr:hover td {
    background-color: #4a4949;
    cursor: pointer;
}

button.add-button {
    background-color: #6200ea;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
}

button.add-button:hover {
    background-color: #8900EAFF;
}