<!DOCTYPE html>
<html lang="fa">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    #if($isUpdate)
        <title>Update $singularTableName</title>
    #else
        <title>Add a new $singularTableName</title>
    #end
    <link href="/static/css/admin_panel_upsert.css" rel="stylesheet">
    <link href="/static/css/common_style.css" rel="stylesheet">
    #if($tinyMCEConfig)
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/6.7.1/tinymce.min.js"></script>
    #end
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
</head>

<body>
<div id="container">
    <div id="header">
        <div class="left-content">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                 class="menu">
                <path d="M3 7H21" stroke="#292D32" stroke-width="1.5" stroke-linecap="round"/>
                <path d="M3 12H21" stroke="#292D32" stroke-width="1.5" stroke-linecap="round"/>
                <path d="M3 17H21" stroke="#292D32" stroke-width="1.5" stroke-linecap="round"/>
            </svg>
            <h2 class="title"><span class="istok-web-black">Ktor</span>Admin</h2>
        </div>
        <div id="search-container"></div>
        <div id="username-container">
            <div id="username-box">
                <h4 class="username">$!username</h4>
                <div class="dropdown-icon">
                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                                d="M11.6199 5.22083L7.81655 9.02417C7.36738 9.47333 6.63238 9.47333 6.18322 9.02417L2.37988 5.22083"
                                stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                                stroke-linejoin="round"/>
                    </svg>
                </div>
            </div>
            <div class="dropdown-content">
                <button onclick="changeTheme()">Change theme</button>
                #if($canDownload)
                    <button onclick="downloadFile('$pluralNameBase', '$csrfToken', '$primaryKey')">Download as Pdf
                    </button>
                #end
                <button onclick="logout()" id="logout">Logout</button>
            </div>
        </div>
    </div>
    <div id="union-box">
        <div id="top-box-row-up">
            #if($isUpdate)
                <h1 id="name" class="istok-web-bold">Update $singularTableName</h1>
            #else
                <h1 id="name" class="istok-web-bold">Add a new $singularTableName</h1>
            #end
        </div>
        <div id="bottom-box">
            <form method="post" enctype="multipart/form-data" id="form-box">
                #foreach($column in $columns)
                    <div class="sidebar-input-wrapper">
                        #if($!values.get($column.columnName))
                            #set($defaultValue = $values.get($column.columnName))
                        #elseif ($column.defaultValue)
                            #set($defaultValue = $column.defaultValue)
                        #else
                            #set($defaultValue = "")
                        #end
                        #if($column.type.name != "BOOLEAN")
                            <label class="item-label">$column.verboseName</label>
                        #end
                        #if($column.reference)
                            #set($referenceValues = $references.get($column))
                            #if($column.reference.type == "select")
                                <div class="select-input-background">
                                    <select name="$column.columnName" class="select-input"
                                            #if($column.readOnly)disabled#end>
                                        <option value="">Select an item</option>
                                        #foreach($refValue in $referenceValues)
                                            <option value="$refValue.itemKey"
                                                    #if($refValue.itemKey == $!defaultValue)selected#end>$refValue.item</option>
                                        #end
                                    </select>
                                </div>
                            #elseif($column.reference.type == "list")
                                #set($list_selected = $selectedReferences.get($column))
                                <div class="multiple-select-input-background">
                                    <select class="select-input-multiple " name="$column.columnName"
                                            multiple #if($column.readOnly) disabled #end>
                                        #foreach($refValue in $referenceValues)
                                            <option value="$refValue.itemKey" #if($list_selected && $list_selected[$refValue.itemKey])
                                                    selected #end>
                                                $refValue.item
                                            </option>
                                        #end
                                    </select>
                                </div>
                            #end
                        #else
                            <!-- STRING -->
                            #if($column.type.name == "STRING")
                                #if($column.hasRichEditor)
                                    <textarea name="$column.columnName" class="rich-editor-area"
                                              #if($column.readOnly)readonly#end>$!defaultValue</textarea>
                                #else
                                        <input type=#if($column.hasConfirmation) "password" #else "text" #end
                                    class="form-input" name="$column.columnName"
                                    value="$!defaultValue"
                                    #if($column.readOnly)readonly#end/>
                                #end
                            #end

                            <!-- INTEGER / UINTEGER -->
                            #if($column.type.name == "INTEGER" || $column.type.name == "UINTEGER")
                                <input type="number" class="form-input" name="$column.columnName" value="$!defaultValue"
                                       #if($column.readOnly)readonly#end/>
                            #end

                            <!-- SHORT / USHORT -->
                            #if($column.type.name == "SHORT" || $column.type.name == "USHORT")
                                <input type="number" class="form-input" name="$column.columnName" value="$!defaultValue"
                                       #if($column.readOnly)readonly#end/>
                            #end

                            <!-- LONG / ULONG -->
                            #if($column.type.name == "LONG" || $column.type.name == "ULONG")
                                <input type="number" class="form-input" name="$column.columnName" value="$!defaultValue"
                                       #if($column.readOnly)readonly#end/>
                            #end

                            <!-- DOUBLE -->
                            #if($column.type.name == "DOUBLE")
                                <input type="number" step="any" class="form-input" name="$column.columnName"
                                       value="$!defaultValue"
                                       #if($column.readOnly)readonly#end/>
                            #end

                            <!-- FLOAT -->
                            #if($column.type.name == "FLOAT")
                                <input type="number" step="any" class="form-input" name="$column.columnName"
                                       value="$!defaultValue"
                                       #if($column.readOnly)readonly#end/>
                            #end

                            <!-- BIG_DECIMAL -->
                            #if($column.type.name == "BIG_DECIMAL")
                                <input type="text" class="form-input" name="$column.columnName" value="$!defaultValue"
                                       #if($column.readOnly)readonly#end/>
                            #end

                            <!-- CHAR -->
                            #if($column.type.name == "CHAR")
                                <input type="text" maxlength="1" class="form-input" name="$column.columnName"
                                       value="$!defaultValue"
                                       #if($column.readOnly)readonly#end/>
                            #end
                            <!-- BOOLEAN -->
                            #if($column.type.name == "BOOLEAN")
                                <label class="custom-checkbox">
                                    #if($column.nullable == false)
                                        <input type="hidden" name="${column.columnName}" value="off">
                                    #end
                                    <input type="checkbox" class="checkbox-input" name="${column.columnName}"
                                        #if($!defaultValue == "true" || $!defaultValue == "1" || $!defaultValue == "on")
                                           checked #end #if($column.readOnly) disabled #end>
                                    <span class="checkmark">
                                        <svg width="11" height="8" class="checkmark-icon" viewBox="0 0 11 8" fill="none"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path d="M1 3.83L3.83 6.66L9.5 1" stroke="white" stroke-width="1.5"
                                                  stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                                    </span>
                                    $column.verboseName
                                </label>
                            #end

                            <!-- ENUMERATION -->
                            #if($column.type.name == "ENUMERATION")
                                <div class="select-input-background">
                                    <select name="$column.columnName" class="select-input"
                                            #if($column.readOnly)disabled#end>
                                        <option value="">Select an item</option>
                                        #foreach($value in $column.enumerationValues)
                                            <option value="$value"
                                                    #if($value == $!defaultValue)selected#end>$value</option>
                                        #end
                                    </select>
                                </div>
                            #end

                            <!-- DATE -->
                            #if($column.type.name == "DATE")
                                <input type="date" class="form-input" name="$column.columnName" value="$!defaultValue"
                                       #if($column.readOnly)readonly#end/>
                            #end

                            <!-- DATETIME -->
                            #if($column.type.name == "DATETIME")
                                <input type="datetime-local" class="form-input" name="$column.columnName"
                                       value="$!defaultValue"
                                       #if($column.readOnly)readonly#end/>
                            #end


                            <!-- BINARY -->
                            #if($column.type.name == "BINARY")
                                <label for="$column.columnName"
                                       class="file-input#if($column.readOnly) readonly-field#end">Select a
                                    file</label>
                                <input type="file" class="file-input-field" name="$column.columnName"
                                       id="$column.columnName"
                                       #if($column.readOnly)disabled#end/>
                                <p class="selected-file-label" id="selected-file-$column.columnName"></p>
                            #end

                            <!-- FILE -->
                            #if($column.type.name == "FILE")
                                <label for="$column.columnName"
                                       class="file-input#if($column.readOnly) readonly-field#end">Select a
                                    file</label>
                                <input type="file" class="file-input-field" name="$column.columnName"
                                       id="$column.columnName"
                                       #if($column.readOnly)disabled#end/>
                                <p class="selected-file-label" id="selected-file-$column.columnName"></p>
                                #if($!values.get($column.columnName))
                                    <button class="file-link" type="button"
                                            onclick="openFileLink('$!values.get($column.columnName)')">
                                        Current file
                                        <svg width="16" height="16" viewBox="0 0 24 24" fill="none"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path d="M13 11L21.2 2.80005" stroke="#9A6C00" stroke-width="1.5"
                                                  stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M22 6.8V2H17.2" stroke="#9A6C00" stroke-width="1.5"
                                                  stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M11 2H9C4 2 2 4 2 9V15C2 20 4 22 9 22H15C20 22 22 20 22 15V13"
                                                  stroke="#9A6C00" stroke-width="1.5" stroke-linecap="round"
                                                  stroke-linejoin="round"/>
                                        </svg>
                                    </button>
                                #end
                            #end

                        #end
                        #if($!errors.get($column.columnName))
                            <div class="error_message">
                                #foreach($error in $errors.get($column.columnName).messages)
                                    $error<br/>
                                #end
                            </div>
                        #end
                    </div>
                    #if($column.hasConfirmation and $column.type.name=="STRING")
                        <div class="sidebar-input-wrapper">
                            <label class="item-label" style="padding-top: 12px">Confirm $column.verboseName</label>
                            <input type="password" class="form-input"
                                   name="${column.columnName}.confirmation"
                                   #if($column.readOnly)readonly#end/>
                        </div>
                    #end
                    #set($previewItem = $previews[$column])
                    #if($previewItem)
                        $previewItem
                    #end
                #end
                <input type="hidden" value="$csrfToken" name="_csrf">
                <input type="hidden" value="$requestId" name="requestId">
                <button id="submit-button" type="submit" #if($hasAction == false) class="disabled" #end>
                    Submit
                </button>
            </form>
        </div>
    </div>
</div>
<div class="sidebar">
    <div id="menu-title-container">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" id="menu-expand-icon"
             xmlns="http://www.w3.org/2000/svg" onclick="expandOrShrinkSidebar()">
            <path
                    d="M21.97 15V9C21.97 4 19.97 2 14.97 2H8.96997C3.96997 2 1.96997 4 1.96997 9V15C1.96997 20 3.96997 22 8.96997 22H14.97C19.97 22 21.97 20 21.97 15Z"
                    stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M14.97 2V22" stroke="#292D32" stroke-width="1.5" stroke-linecap="round"
                  stroke-linejoin="round"/>
            <path d="M7.96997 9.43994L10.53 11.9999L7.96997 14.5599" stroke="#292D32" stroke-width="1.5"
                  stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        <h2 class="title"><span class="istok-web-black">Ktor</span>Admin</h2>
    </div>
    <h4 class="group-text"></h4>
    <button class="menu-item" onclick="openDashboard()">
        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"
             class="menu-icon">
            <path
                    d="M12.75 7.5H14.25C15.75 7.5 16.5 6.75 16.5 5.25V3.75C16.5 2.25 15.75 1.5 14.25 1.5H12.75C11.25 1.5 10.5 2.25 10.5 3.75V5.25C10.5 6.75 11.25 7.5 12.75 7.5Z"
                    stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                    stroke-linejoin="round"/>
            <path
                    d="M3.75 16.5H5.25C6.75 16.5 7.5 15.75 7.5 14.25V12.75C7.5 11.25 6.75 10.5 5.25 10.5H3.75C2.25 10.5 1.5 11.25 1.5 12.75V14.25C1.5 15.75 2.25 16.5 3.75 16.5Z"
                    stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                    stroke-linejoin="round"/>
            <path
                    d="M4.5 7.5C6.15685 7.5 7.5 6.15685 7.5 4.5C7.5 2.84315 6.15685 1.5 4.5 1.5C2.84315 1.5 1.5 2.84315 1.5 4.5C1.5 6.15685 2.84315 7.5 4.5 7.5Z"
                    stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                    stroke-linejoin="round"/>
            <path
                    d="M13.5 16.5C15.1569 16.5 16.5 15.1569 16.5 13.5C16.5 11.8431 15.1569 10.5 13.5 10.5C11.8431 10.5 10.5 11.8431 10.5 13.5C10.5 15.1569 11.8431 16.5 13.5 16.5Z"
                    stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                    stroke-linejoin="round"/>
        </svg>
        Dashboard
    </button>
    #foreach($group in $panelGroups)
        <h4 class="group-text">$group.group</h4>
        #foreach($panel in $group.panels)
            #set($capitalizedPanel = $panel.pluralName.substring(0,1).toUpperCase() + $panel.pluralName.substring(1))
            <button class="menu-item #if($panel.pluralName == $currentPanel) selected #end"
                    onclick="openPanel('$panel.pluralName')">
                #if($panel.iconFile)
                    <div class="menu-icon"
                         style="-webkit-mask: url('$panel.iconFile') no-repeat center / contain; mask: url('$panel.iconFile') no-repeat center / contain;"></div>
                #end
                $capitalizedPanel
            </button>
        #end
    #end
</div>
<div id="loading">
    <div class="spinner"></div>
</div>
<script>
        #if($tinyMCEConfig)
        const tinyConfig = JSON.parse(`$tinyMCEConfig`);
        #end
    const computedColumns = [];
        #foreach($column in $columns)
            #if($column.computedColumn)
            computedColumns.push({
                columnName: "$column.columnName",
                computedColumn: "$column.computedColumn"
            });
            #end
        #end
</script>
<script src="/static/js/common.js"></script>
<script src="/static/js/upsert_admin.js"></script>
</body>
</html>