<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/admin_panel_login_style.css">
    <link href="/static/css/common_style.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
</head>

<body>
<h1 class="name"><span class="istok-web-black">Ktor</span>Admin</h1>
<div id="login-container">
    <h1 id="title">Login</h1>
    <p id="page_message">$!message</p>
    <form method="post">
        #foreach($field in $fields)
            <div>
                <label>$field.name</label>
                <input type="$field.type"#if($field.autoComplete) autocomplete="$field.autoComplete"#end
                       class="field-input" required
                       name="$field.key">
            </div>
        #end
        <input type="hidden" name="_csrf" value="$csrfToken">
        <button type="submit" id="submit-button">Submit</button>
    </form>
</div>
<script>
    const adminPath = "$adminPath"
</script>
<script src="/static/js/common.js"></script>
</body>
</html>