<!DOCTYPE html>
<html lang="fa">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link href="/static/css/admin_panel_list_styles.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
</head>

<body>
<div id="container">
    <form id="action-form" method="POST" style="display: none;">
        <input type="hidden" name="action_key" id="action-key">
        <input type="hidden" name="ids" id="ids">
        <input type="hidden" value="$csrfToken" name="_csrf">
    </form>
    <div id="header">
        <div class="left-content">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                 class="menu">
                <path d="M3 7H21" stroke="#292D32" stroke-width="1.5" stroke-linecap="round"/>
                <path d="M3 12H21" stroke="#292D32" stroke-width="1.5" stroke-linecap="round"/>
                <path d="M3 17H21" stroke="#292D32" stroke-width="1.5" stroke-linecap="round"/>
            </svg>
            <h2 class="title"><span class="istok-web-black">Ktor</span>Admin</h2>
        </div>
        <div id="search-container">
            #if($hasSearch)
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                            d="M9.58341 17.5C13.9557 17.5 17.5001 13.9556 17.5001 9.58333C17.5001 5.21108 13.9557 1.66667 9.58341 1.66667C5.21116 1.66667 1.66675 5.21108 1.66675 9.58333C1.66675 13.9556 5.21116 17.5 9.58341 17.5Z"
                            stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M18.3334 18.3333L16.6667 16.6667" stroke="#292D32" stroke-width="1.5"
                          stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <input id="search-input" type="text" placeholder="Search...">
            #end
        </div>
        <div id="username-container">
            <div id="username-box">
                <h4 class="username">$!username</h4>
                <div class="dropdown-icon">
                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                                d="M11.6199 5.22083L7.81655 9.02417C7.36738 9.47333 6.63238 9.47333 6.18322 9.02417L2.37988 5.22083"
                                stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                                stroke-linejoin="round"/>
                    </svg>
                </div>
            </div>
            <div class="dropdown-content">
                #if($canDownload)
                    <button onclick="downloadFile('$pluralNameBase', '$csrfToken')">Download as CSV</button>
                #end
                <button onclick="logout()" id="logout">Logout</button>
            </div>
        </div>
    </div>
    <div id="union-box">
        <div id="top-box-row">
            <div id="top-box-row-container">
                <div id="filters-container">
                    #foreach($filter in $filtersData)
                        #if($filter.type == "DATE")
                            <div class="filter-field-container filter">
                                <h4 class="filter-label">Select range of $filter.paramName</h4>
                                <div class="filter-field-parent-date">
                                    <input type="date" class="filter-input-date" id="${filter.paramName}-start"
                                           name="${filter.paramName}">
                                    <input type="date" class="filter-input-date" id="${filter.paramName}-end"
                                           name="${filter.paramName}">
                                </div>
                            </div>
                        #elseif($filter.type == "DATETIME")
                            <div class="filter-field-container filter">
                                <h4 class="filter-label">Select range of $filter.paramName</h4>
                                <div class="filter-field-parent-date">
                                    <input type="datetime-local" class="filter-input-date"
                                           id="${filter.paramName}-start" name="${filter.paramName}">
                                    <input type="datetime-local" class="filter-input-date" id="${filter.paramName}-end"
                                           name="${filter.paramName}">
                                </div>
                            </div>
                        #elseif($filter.type == "ENUMERATION")
                            <div class="filter-field-container">
                                <h4 class="filter-label">Select an item for $filter.paramName</h4>
                                <div class="filter-field-parent filter">
                                    <select class="filter-field" name="${filter.paramName}" id="${filter.paramName}">
                                        <option value="">-- Select --</option>
                                        #foreach($value in $filter.values)
                                            <option value="${value}">${value}</option>
                                        #end
                                    </select>
                                </div>
                            </div>
                        #elseif($filter.type == "REFERENCE")
                            <div class="filter-field-container">
                                <h4 class="filter-label">Select an item for $filter.paramName</h4>
                                <div class="filter-field-parent filter">
                                    <select class="filter-field" name="${filter.paramName}" id="${filter.paramName}">
                                        <option value="">-- Select --</option>
                                        #foreach($item in $filter.values)
                                            <option value="${item.itemKey}">${item.item}</option>
                                        #end
                                    </select>
                                </div>
                            </div>
                        #elseif($filter.type == "BOOLEAN")
                            <div class="filter-field-container">
                                <h4 class="filter-label">Select a boolean for $filter.paramName</h4>
                                <div class="filter-field-parent filter">
                                    <select class="filter-field" name="${filter.paramName}" id="${filter.paramName}">
                                        <option value="">-- Select --</option>
                                        <option value="on">True</option>
                                        <option value="off">False</option>
                                    </select>
                                </div>
                            </div>
                        #end
                    #end
                    <button id="filter-submit-button" onclick="onFilterApply()">Filter</button>
                </div>
                <div id="top-box-row-up">
                    <h1 id="name" class="istok-web-bold">$pluralName</h1>
                    <div id="actions-row">
                        <div id="actions-container">
                            <select id="actions-input">
                                <option value="">Select an action</option>
                                #foreach($action in $actions)
                                    <option value="${action.key}">${action.displayText}</option>
                                #end
                            </select>
                        </div>
                        <button id="perform-action" onclick="openActionDialog()">Perform</button>
                        <div id="filter-button" onclick="toggleFilter()">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path
                                        d="M8.16 6.65H15.83C16.47 6.65 16.99 7.17 16.99 7.81V9.09C16.99 9.56 16.7 10.14 16.41 10.43L13.91 12.64C13.56 12.93 13.33 13.51 13.33 13.98V16.48C13.33 16.83 13.1 17.29 12.81 17.47L12 17.98C11.24 18.45 10.2 17.92 10.2 16.99V13.91C10.2 13.5 9.97 12.98 9.73 12.69L7.52 10.36C7.23 10.08 7 9.55 7 9.2V7.87C7 7.17 7.52 6.65 8.16 6.65Z"
                                        stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"/>
                                <path d="M9 22H15C20 22 22 20 22 15V9C22 4 20 2 15 2H9C4 2 2 4 2 9V15C2 20 4 22 9 22Z"
                                      stroke="#292D32" stroke-width="1.5" stroke-linecap="round"
                                      stroke-linejoin="round"/>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div id="curved-diagonal-cut"></div>
            <div id="top-box" onclick="closeFiltersOrNavigateToAdd()">
                <div id="top-box-icon">
                    <svg width="30" height="30" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6 12H18" stroke="#292D32" stroke-width="1.5" stroke-linecap="round"
                              stroke-linejoin="round"/>
                        <path d="M12 18V6" stroke="#292D32" stroke-width="1.5" stroke-linecap="round"
                              stroke-linejoin="round"/>
                    </svg>
                </div>
            </div>
        </div>
        <div id="bottom-box">
            <table>
                <thead>
                <tr>
                    <th data-col="checkbox">Selected</th>
                    #foreach($field in $fields)
                        #set($isCheckBox = $field.type.name == "BOOLEAN")
                        #if($field.columnName)
                            #set($name = $field.columnName)
                        #else
                            #set($name = $field.fieldName)
                        #end
                        <th #if($isCheckBox) data-col="checkbox" #end class="istok-web-bold"
                                             onclick="handleSortClick('$name', '$!order.name', '$order.direction')">
                            <span class="column-name">$field.verboseName</span>
                            #if($!order.direction == "asc" and $!order.name == $name)
                                <svg width="16" height="16" viewBox="0 0 24 24" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M19.9201 15.0499L13.4001 8.52989C12.6301 7.75989 11.3701 7.75989 10.6001 8.52989L4.08008 15.0499"
                                          stroke="#292D32" stroke-width="2.5" stroke-miterlimit="10"
                                          stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            #elseif($!order.direction == "desc" and $!order.name == $name)
                                <svg width="16" height="16" viewBox="0 0 24 24" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M19.9201 8.94995L13.4001 15.47C12.6301 16.24 11.3701 16.24 10.6001 15.47L4.08008 8.94995"
                                          stroke="#292D32" stroke-width="2.5" stroke-miterlimit="10"
                                          stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            #end
                        </th>
                    #end
                </tr>
                </thead>
                <tbody>
                    #foreach($row in $rows)
                    <tr class="row" data-primary-key="$row.primaryKey">
                        <td data-col="checkbox">
                            <label class="custom-checkbox">
                                <input type="checkbox"
                                       class="checkbox-input row-checkbox select-field-checkbox" #if($item ==
                                    "true" || $item == "1") checked #end data-primary-key="$row.primaryKey">
                                <span class="checkmark">
                        <svg width="11" height="8" class="checkmark-icon" viewBox="0 0 11 8" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 3.83L3.83 6.66L9.5 1" stroke="white" stroke-width="1.5"
                                  stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </span>
                            </label>
                        </td>
                        #foreach($item in $row.data)
                            #set($field = $fields.get($foreach.index))
                            #set($isCheckBox = $field.type.name == "BOOLEAN")
                            #set($isFile = $field.type.name == "FILE" and $item and $item != "N/A")
                            #if($isCheckBox)
                                <td data-col="checkbox">
                                    <label class="custom-checkbox">
                                        <input type="checkbox" class="checkbox-input" #if($item == "true" || $item ==
                                            "1") checked #end disabled>
                                        <span class="checkmark">
                                <svg width="11" height="8" class="checkmark-icon" viewBox="0 0 11 8" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 3.83L3.83 6.66L9.5 1" stroke="white" stroke-width="1.5"
                                          stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </span>
                                    </label>
                                </td>
                            #elseif($isFile)
                                <td>
                                    <button class="file-link"
                                            onclick="generateUrl('$item', '$pluralNameBase', '$field.columnName')">
                                        Link
                                        <svg width="16" height="16" viewBox="0 0 24 24" fill="none"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path d="M13 11L21.2 2.80005" stroke="#9A6C00" stroke-width="1.5"
                                                  stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M22 6.8V2H17.2" stroke="#9A6C00" stroke-width="1.5"
                                                  stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M11 2H9C4 2 2 4 2 9V15C2 20 4 22 9 22H15C20 22 22 20 22 15V13"
                                                  stroke="#9A6C00" stroke-width="1.5" stroke-linecap="round"
                                                  stroke-linejoin="round"/>
                                        </svg>
                                    </button>
                                </td>
                            #elseif($field.type.name == "ENUMERATION" and $field.statusColors)
                                #foreach($enumItem in $field.enumerationValues)
                                    #if($enumItem == $!item)
                                        #set($color = $field.statusColors.get($foreach.index))
                                    #end
                                #end
                                <td>
                                    <div class="status-container">
                                        <div class="status-style">
                                            <div style="background-color: $color" class="status-dot"></div> $!item
                                        </div>
                                        <div class="status-border" style="border-color: $color;"></div>
                                    </div>
                                </td>
                            #else
                                <td>$!item</td>
                            #end
                        #end
                    </tr>
                    #end
                </tbody>
            </table>
            <div class="pagination">
                #set($prevPage = $currentPage - 1)
                #set($nextPage = $currentPage + 1)
                #if($prevPage > 1)
                    <span class="other-pages" onclick="redirectToPage(1)">1</span>
                    <span class="dots">...</span>
                #end

                #if($prevPage > 0)
                    <span class="other-pages" onclick="redirectToPage($prevPage)">$prevPage</span>
                #end

                <span class="current">$currentPage</span>

                #if($nextPage <= $maxPages)
                    <span class="other-pages" onclick="redirectToPage($nextPage)">$nextPage</span>
                #end

                #if($nextPage < $maxPages)
                    <span class="dots">...</span>
                    <span class="other-pages" onclick="redirectToPage($maxPages)">$maxPages</span>
                #end
            </div>
        </div>
    </div>
</div>
<div class="sidebar">
    <div id="menu-title-container">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" id="menu-expand-icon"
             xmlns="http://www.w3.org/2000/svg" onclick="expandOrShrinkSidebar()">
            <path
                    d="M21.97 15V9C21.97 4 19.97 2 14.97 2H8.96997C3.96997 2 1.96997 4 1.96997 9V15C1.96997 20 3.96997 22 8.96997 22H14.97C19.97 22 21.97 20 21.97 15Z"
                    stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M14.97 2V22" stroke="#292D32" stroke-width="1.5" stroke-linecap="round"
                  stroke-linejoin="round"/>
            <path d="M7.96997 9.43994L10.53 11.9999L7.96997 14.5599" stroke="#292D32" stroke-width="1.5"
                  stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        <h2 class="title"><span class="istok-web-black">Ktor</span>Admin</h2>
    </div>
    <h4 class="group-text"></h4>
    <button class="menu-item" onclick="openDashboard()">
        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"
             class="menu-icon">
            <path
                    d="M12.75 7.5H14.25C15.75 7.5 16.5 6.75 16.5 5.25V3.75C16.5 2.25 15.75 1.5 14.25 1.5H12.75C11.25 1.5 10.5 2.25 10.5 3.75V5.25C10.5 6.75 11.25 7.5 12.75 7.5Z"
                    stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                    stroke-linejoin="round"/>
            <path
                    d="M3.75 16.5H5.25C6.75 16.5 7.5 15.75 7.5 14.25V12.75C7.5 11.25 6.75 10.5 5.25 10.5H3.75C2.25 10.5 1.5 11.25 1.5 12.75V14.25C1.5 15.75 2.25 16.5 3.75 16.5Z"
                    stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                    stroke-linejoin="round"/>
            <path
                    d="M4.5 7.5C6.15685 7.5 7.5 6.15685 7.5 4.5C7.5 2.84315 6.15685 1.5 4.5 1.5C2.84315 1.5 1.5 2.84315 1.5 4.5C1.5 6.15685 2.84315 7.5 4.5 7.5Z"
                    stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                    stroke-linejoin="round"/>
            <path
                    d="M13.5 16.5C15.1569 16.5 16.5 15.1569 16.5 13.5C16.5 11.8431 15.1569 10.5 13.5 10.5C11.8431 10.5 10.5 11.8431 10.5 13.5C10.5 15.1569 11.8431 16.5 13.5 16.5Z"
                    stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                    stroke-linejoin="round"/>
        </svg>
        Dashboard
    </button>
    #foreach($group in $panelGroups)
        <h4 class="group-text">$group.group</h4>
        #foreach($panel in $group.panels)
            #set($capitalizedPanel = $panel.pluralName.substring(0,1).toUpperCase() + $panel.pluralName.substring(1))
            <button class="menu-item #if($panel.pluralName == $currentPanel) selected #end"
                    onclick="openPanel('$panel.pluralName')">
                #if($panel.iconFile)
                    <div class="menu-icon"
                         style="-webkit-mask: url('$panel.iconFile') no-repeat center / contain; mask: url('$panel.iconFile') no-repeat center / contain;"></div>
                #end
                $capitalizedPanel
            </button>
        #end
    #end
</div>
<div id="loading">
    <div class="spinner"></div>
</div>
<div class="dialog-overlay" id="dialog">
    <div class="dialog-box">
        <h2 id="action-dialog-title">Delete all items</h2>
        <p>By confirming this action, you acknowledge that it is irreversible and cannot be undone.</p>
        <div class="dialog-actions-container">
            <button class="confirm-dialog" onclick="performSelectedAction()">Yes</button>
            <button onclick="closeActionDialog()" class="close-dialog">No</button>
        </div>
    </div>
</div>
<script src="/static/js/common.js"></script>
<script src="/static/js/table_list.js"></script>
</body>
</html>